<div class="row my-4 mx-2">
    <div class="col-lg-12">
        <h3>SAP ECC Adapter Configuration</h3>
    </div>
</div>
<div class="row my-4 mx-4">
    <div class="col-lg-8">
        <form>
            <div class="mb-3">
                <label for="connectionAlias" class="form-label">Connection alias</label>
                <input type="text" class="form-control" id="connectionAlias" />
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="serverUrl" class="form-label">Server url</label>
                    <input type="text" class="form-control" id="serverUrl" />
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="serverPort" class="form-label">Server port</label>
                    <input type="text" class="form-control" id="serverPort" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" />
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="repoUsername" class="form-label">Repository username</label>
                    <input type="text" class="form-control" id="repoUsername" />
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="repoPassword" class="form-label">Repository password</label>
                    <input type="password" class="form-control" id="repoPassword" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="client" class="form-label">Client</label>
                    <input type="number" class="form-control" id="client" />
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="systemNumber" class="form-label">System number</label>
                    <input type="number" class="form-control" id="systemNumber" />
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Save connection</button>
                <button class="btn btn-secondary mx-2">Test connection</button>
            </div>
        </form>
    </div>
</div>