<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="wxsapintegration/customers" javaclass="com.wm.util.Values">
    <value name="urlPath">restv2/wxsapintegrationCustomers</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="wxsapintegration/equipments" javaclass="com.wm.util.Values">
    <value name="urlPath">restv2/wxsapintegrationEquipments</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="wxsapintegration/salesorders" javaclass="com.wm.util.Values">
    <value name="urlPath">restv2/wxsapintegrationSalesOrders</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="wxsapintegration/config" javaclass="com.wm.util.Values">
    <value name="urlPath">restv2/wxsapintegrationConfiguration</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
</Values>
